*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}


body{

min-height:100vh;

background:
linear-gradient(
135deg,
#667eea,
#764ba2
);

display:flex;
justify-content:center;
align-items:center;

}


#root{

width:100%;

}



.app{

display:flex;
justify-content:center;
align-items:center;

}



.todo-card{

width:500px;

background:white;

padding:30px;

border-radius:25px;

box-shadow:
0 20px 40px rgba(0,0,0,.2);

}



h1{

text-align:center;

color:#5b21b6;

margin-bottom:10px;

}



.count{

text-align:center;

color:#777;

margin-bottom:25px;

}



form{

display:flex;

gap:10px;

margin-bottom:25px;

}



input{

flex:1;

padding:14px;

border-radius:12px;

border:2px solid #ddd;

font-size:15px;

}



input:focus{

outline:none;

border-color:#764ba2;

}



form button{

background:#764ba2;

color:white;

border:none;

padding:12px 20px;

border-radius:12px;

cursor:pointer;

}



form button:hover{

background:#5b21b6;

}



ul{

list-style:none;

}



.task-card{

background:#f8fafc;

padding:18px;

border-radius:15px;

margin-bottom:15px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:
0 5px 15px rgba(0,0,0,.08);

}



.task-card h3{

color:#333;

margin-bottom:5px;

}



.task-card span{

font-size:13px;

color:#777;

}



.buttons{

display:flex;

gap:8px;

}



.buttons button{

border:none;

padding:8px 14px;

border-radius:10px;

cursor:pointer;

color:white;

}



.done{

background:#10b981;

}



.delete{

background:#ef4444;

}



.completed{

text-decoration:line-through;

color:#999!important;

}



@media(max-width:600px){

.todo-card{

width:90%;

}


form{

flex-direction:column;

}


.task-card{

flex-direction:column;

gap:15px;

align-items:flex-start;

}


.buttons{

width:100%;

}


.buttons button{

flex:1;

}

}